<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="Caliburn.Micro" version="4.0.0-alpha.1" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="4.0.0-alpha.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net48" />
  <package id="MySql.Data.EntityFramework" version="8.0.19" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="18.1.0.42" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="18.1.0.42" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="18.1.0.42" targetFramework="net48" />
</packages>